body{
    background: papayawhip;

}
.first{
    width: 600px;
    height: 1700px;
    background-color:hsl(0, 0%, 100%) ;
    margin:auto;
    padding: 3rem;
    border-radius: 10px;
    font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
 
}
img{
    width: 95%;
    border-radius: 10px;
}
.second{
    margin: auto;
    background-color: papayawhip;
    height: 180px;
    padding:5px;
    border-radius: 10px;
}
td{
    width: 20em;
    border-bottom: 1px solid hsl(30, 54%, 90%);
    padding-bottom: 1rem;
    padding-top: 1rem;

}
h3{
    color: palevioletred;
    font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}
h2{
    color: brown;
    font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}
li{
    line-height: 2rem;
    
}
li::marker{
    color: brown;
    word-spacing: 1rem;
}
h1{
    font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}
